# Dependencies
node_modules/
yarn.lock

# Environment
.env
.env.local
.env.production

# Database
backend/data/*.db
backend/data/*.db-journal
backend/data/*.db-shm
backend/data/*.db-wal
*.sqlite
*.sqlite3

# Backups (keep .gitkeep)
backups/*.db
backups/*.db.gz
backups/.last_version

# Logs
backend/logs/*.log
*.log

# Build
backend/dist/
frontend/dist/
frontend/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Temporary files
*.tmp
*.temp
.cache/
data/nutrivault_dev.db
data/nutrivault.db

# Docker test logs
*-build.log
test-*.log

temp_uploads/
uploads/

*.OLD
backend/nutrivault_dev.db
backups.tar.gz
backend/.env.BKP
backend/backend/data/old_nutrivault-01.db
backend/backend/data/old_nutrivault-01.db.BKP
backend/data/nutrivault_prod.db.BKP
backend/data/nutrivault.db.BKP
backend/data/old_nutrivault-01.db.BKP
backend/data/old_nutrivault-02.db.BKP
backend/data.BKP/nutrivault_prod.db
backend/data.BKP/nutrivault.db
backend/data.BKP/old_nutrivault-01.db
backend/nutrivault.db
